// default values
:root {
  --theme-background-color: rgb(0 0 0 / 70%);
  --theme-text-color: rgb(255 255 255 / 100%);
  --theme-foreground-color: rgb(201 201 201 / 100%);
  --theme-hover-color: rgb(255 255 255 / 100%);
}
