
.big-mute-icon-wrapper[data-big-mute] {
  position: absolute;
  z-index: 9998;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 50px);
  margin: 0 auto;
  opacity: 0.75;
  transition: opacity 0.1s ease;
  pointer-events: auto;

  &.hide {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.big-mute-icon[data-big-mute-icon] {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 50%;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 1;
  box-shadow: 0 0 1px 0 white;
  background: #f0f3f7f0;
  z-index: 10000;

  svg {
    margin-left: 5px;
    width: 80px;
    height: 80px;

    path {
      fill: #1f1e1e !important;
    }
  }

  &:hover {
    background: #f0f3f7e0;

    svg path {
      fill: #151515 !important;
    }
  }
}
