.media-control-skin-1[data-media-control-skin-1] {
  .media-control-gear {
    order: 99;
    height: 20px;

    .gear-wrapper {
      position: absolute;
      right: 16px;
      bottom: 52px;
      display: none;

      width: 250px;
      min-height: 48px;
      z-index: 9999;
      border-radius: 4px;

      .gear-options-list {
        padding: 8px 0;

        svg {
          float: left;
          margin-right: 10px;
        }

        .gear-option {
          margin: 0;
          text-align: left;
          line-height: 22px;
          padding: 5px 14px;
          width: 250px;
          font-size: 12px;

          .gear-option_arrow-right-icon {
            float: right;
            margin-right: -14px;
          }

          .gear-option_value {
            float: right;
            margin-right: 8px;
          }

          svg {
            height: 20px;
          }
        }
      }
    }
  }
}