
.scrub-thumbnails {
  position: absolute;
  bottom: 52px;
  width: 100%;
  transition: opacity 0.3s ease;

  &.hidden {
    opacity: 0;
  }

  .thumbnail-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #000;

    .thumbnail-img {
      position: absolute;
      width: auto;
    }
  }

  .thumbnails-text {
    background-color: rgb(74 74 74 / 70%);
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    position: absolute;
    bottom: 23px;
    width: 100px;
  }

  .spotlight {
    background-color: #4a4a4a;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: #4a4a4a;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;

    img {
      width: auto;  
    }
  }


  .backdrop {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    overflow: hidden;

    .carousel {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      white-space: nowrap;

      img {
        width: auto;
      }
    }

  }
 
}
