.gear-option_hd-icon {
    &.hidden {
        display: none;
    }
}
.quality-levels li {
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &.current {
        background-color: #000;
    }
}