.dvr-controls {
  --disabled-opacity: 0.3;
  --circle-radius: 5px;

  display: flex;
  align-items: center;
  color: var(--player-dvr-color);
  font-size: 10px;
  font-weight: 500;
  height: var(--bottom-panel);
  line-height: var(--bottom-panel);
  margin-left: 0;

  .live-info,
  .live-button {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    &::before {
      margin-right: 8px;
      content: "";
      display: inline-block;
      position: relative;
      width: calc(var(--circle-radius)*2);
      height: calc(var(--circle-radius)*2);
      border-radius: var(--circle-radius);
      background-color: var(--player-dvr-color);
    }
  }

  &.disabled {
    opacity: var(--disabled-opacity);

    &:before {
      background-color: var(--player-dvr-color);
    }
  }

  .live-info {
    text-transform: uppercase;
    color: #fffffe;

    &::before {
      background-color: #ed4f4a;
    }
  }

  .live-button {
    cursor: pointer;
    outline: none;
    border: 0;
    color: var(--player-dvr-color);
    background-color: transparent;
    padding: 0;
    opacity: 0.7;
    transition: all 0.1s ease;

    &:hover {
      opacity: 1;
      text-shadow: rgba(255, 255, 255, .75) 0 0 5px;
    }
  }
}
