.gcore-skin-bg-color { background-color: var(--theme-background-color) !important; }

.gcore-skin-text-color { color: var(--theme-text-color) !important; }
.gcore-skin-text-color svg { fill: var(--theme-text-color) !important; }
.gcore-skin-text-color svg path { fill: var(--theme-text-color) !important; }
.gcore-skin-border-textarea-color { border-color: var(--theme-text-color) !important; }

.gcore-skin-button-color {
  color: var(--theme-foreground-color) !important;

  svg {
    fill: var(--theme-foreground-color) !important;

    path {
      fill: var(--theme-foreground-color) !important;

      &.icon-hover { fill: var(--theme-foreground-color) !important; }
    }
  }

  &[data-fullscreen] {
    svg {
      stroke: var(--theme-foreground-color) !important;

      path {
        stroke: var(--theme-foreground-color) !important;
      }
    }
  }
}

.gcore-skin-main-color { background-color: var(--theme-foreground-color) }
.gcore-skin-border-color { border-color: var(--theme-foreground-color) !important; }

.gcore-skin-button-color:hover { color: var(--theme-hover-color) !important; }
.gcore-skin-button-color:hover svg { fill: var(--theme-hover-color) !important; }
.gcore-skin-button-color:hover svg path { fill: var(--theme-hover-color) !important; }
.gcore-skin-border-color:hover { border-color: var(--theme-hover-color) !important; }
.gcore-skin-button-with-bg-color:hover svg path.icon-hover { fill: var(--theme-hover-color) !important; }
.gcore-skin-active { color: var(--theme-hover-color) !important; }
.gcore-skin-active svg { fill: var(--theme-hover-color) !important; }
.gcore-skin-active svg path { fill: var(--theme-hover-color) !important; }
