.media-control-skin-1[data-media-control-skin-1].w270 {
  .media-control-quality,
  .media-control-audio-tracks {
    display: none;
  }

  .media-control-layer[data-controls] {
    .drawer-container[data-volume] {
      .bar-container[data-volume] {
        transform: rotate(270deg);
        float: none;
        display: block;
        position: absolute;

        /* bottom: 12px; */
        margin: 0;
        top: -40px;
        padding: 0;

        /* right: 20px; */
        margin-left: -32px;
        margin-top: -3px;
        width: 80px;

        /* padding-left: 12px; */
        .bar-background-mask {
          position: absolute;
          width: 100%;
          height: 100%;
          left: -5px;
        }

        &.volume-bar-hide {
          display: none;
        }

        .bar-background {
          margin-left: 11px;
          top: 7px;
          width: 80px;
        }

        .bar-scrubber {
          margin-left: 11px;
          top: 1px;
        }
      }
    }
  }
}
