.media-control-skin-1[data-media-control-skin-1].w370 {
  .media-control-cc {
    width: 28px;

    svg {
      height: 17px;
    }
  }

  .share_plugin[data-share] {
    .share-container {
      top: calc(50% - 150px);
      left: calc(50% - 125px);
      width: 250px;
      height: calc(100% - 32px);
      max-height: 300px;
      transform: none;

      .share-container-header {
        border: none;

        .share-container-header--title {
          visibility: hidden;
        }
      }
    }
  }

  .media-control-quality,
  .media-control-audiotracks {
    display: block;
  }

  .level-selector[data-level-selector],
  .media-control-audiotracks[data-audiotracks] {
    margin-top: 3px;
    margin-right: 10px;

    ul {
      bottom: 30px;
      width: 50px;

      li {
        height: 23px;
        font-size: 14px;

        a {
          height: 23px;
          padding: 2px 5px;
        }
      }
    }

    button[data-level-selector-button],
    button[data-audiotracks-button] {

      .quality-text,
      .audio-text {
        font-size: 13px;
      }

      span.quality-arrow,
      span.audio-arrow {
        width: 7px;
        height: 5px;
        margin-left: 4px;
        margin-top: 11px;
      }
    }
  }

  .media-control-multicamera {
    .multicamera {
      margin-top: 0;
      margin-right: 10px;

      button {
        height: 32px;

        svg {
          height: 17px;
          margin: 0;
        }
      }
    }
  }

  .media-control-layer[data-controls] {
    padding-left: 10px;
    padding-right: 12px;

    .media-control-indicator {
      line-height: 32px;

      &[data-position],
      &[data-duration] {
        font-size: 11px;
        line-height: 32px;
      }
    }

    .dvr-controls {
      height: 32px;

      .live-button {
        margin-left: 10px;
        height: 32px;
        font-size: 12px;
        line-height: 32px;
        text-shadow: none;
        letter-spacing: 0.6px;

        &::before {
          width: 8px;
          height: 8px;
          margin-right: 4px;
        }
      }

      .live-info {
        margin-left: 10px;
        height: 32px;
        font-size: 12px;
        line-height: 32px;
        text-shadow: none;
        letter-spacing: 0.6px;

        &::before {
          width: 8px;
          height: 8px;
          margin-right: 4px;
        }
      }

    }

    button.media-control-button {
      height: 32px;

      &[data-fullscreen] {
        height: 33px;
      }

      svg {
        height: 17px;
      }
    }

    .media-clip-container,
    .media-control-clips {

      .media-clip-text {
        line-height: 33px;
        font-size: 11px;
      }

      .media-clip-text {
        max-width: 50px;
      }
    }

    .drawer-container[data-volume] {
      height: 32px;
      margin-right: 8px;

      .drawer-icon-container[data-volume] {
        .drawer-icon[data-volume] {
          height: 32px;

          svg {
            height: 17px;
            margin-top: 5px;
          }
        }
      }

      .bar-container[data-volume] {
        display: none;

        &.volume-bar-hide {
          width: 0;
          height: 12px;
          top: 9px;
          padding: 0;
        }
      }
    }
  }
}