.media-control-skin-1.w270 {
  .media-control-layer[data-controls] {
    .drawer-container[data-volume] {
      .bar-container[data-volume] {
        transform: rotate(270deg);
        float: none;
        display: block;
        position: absolute;

        margin: 0;
        top: -40px;
        padding: 0;

        margin-left: -32px;
        margin-top: -3px;
        width: 80px;

        .bar-background-mask {
          position: absolute;
          width: 100%;
          height: 100%;
          left: -5px;
        }

        &.volume-bar-hide {
          display: none;
        }

        .bar-background {
          margin-left: 11px;
          top: 7px;
          width: 80px;
        }

        .bar-scrubber {
          margin-left: 11px;
          top: 1px;
        }
      }
    }
  }
  .media-control-dd__popup {
    max-width: 114px;
  }
}