*,
:focus,
:visited {
  outline: none !important;
}

.multicamera[data-multicamera] {
  float: right;
  margin-top: 4px;
  position: relative;
  margin-right: 20px;
  width: 20px;

  button {
    background-color: transparent;
    color: #fff;
    font-family: Roboto, "Open Sans", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-size: 14px;
    padding: 0;

    svg {
      height: 20px;
      position: relative;
      margin-top: 6px;
    }

    &:hover {
      color: #c9c9c9;
    }

    &.changing {
      animation: pulse 0.5s infinite alternate;
    }

    span.quality-arrow {
      width: 9px;
      height: 6px;
      margin-top: 11px;
      margin-left: 5px;
    }
  }

  &>ul {
    padding: 6px 0;
    right: -24px;
    width: 245px;
    list-style-type: none;
    position: absolute;
    bottom: 48px;
    border-radius: 4px;
    display: none;
    background-color: rgb(74 74 74 / 90%);

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 85%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid rgb(74 74 74 / 90%);
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }

  li {
    font-size: 10px;
    cursor: pointer;

    .multicamera-item {
      display: flex;
      padding: 10px 0;
      justify-content: center;
      position: relative;

      &[data-mulitcamera-selector-live="false"] {
        .multicamera-screenshot {
          opacity: .5;
        }

        .multicamera-text {
          opacity: .5;
        }

        &:hover {
          background-color: rgb(0 0 0 / 0%);
        }

        pointer-events: none;
      }

      &:hover,
      &.multicamera-active {
        background-color: rgb(0 0 0 / 30%);
      }

      .multicamera-screenshot {
        width: 80px;
        height: 60px;

        img {
          width: 80px;
          height: 60px;
        }
      }

      .multicamera-text {
        width: 120px;
        text-align: left;
        margin-left: 15px;

        .multicamera-title,
        .multicamera-description {
          width: 120px;
          height: 20px;
          font-family: Roboto, "Open Sans", Arial, sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: #fff;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .multicamera-description {
          opacity: 0.6;
        }
      }
    }

    &[data-title] {
      background-color: #c3c2c2;
      padding: 5px;
    }

    a {
      color: #444;
      padding: 2px 10px;
      display: block;
      text-decoration: none;

      &:hover {
        background-color: #555;
        color: white;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    &.current a {
      color: #f00;
    }

  }
}