*, :focus, :visited {
  outline: none !important;
}

.subtitles[data-subtitles] {
  float: right;
  position: relative;
  width: 50px;

  button {
    background-color: transparent;
    color: #fff;
    font-family: Roboto, "Open Sans", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-size: 14px;
    cursor: pointer;

    .subtitle-text {
      svg {
        fill: white;
      }
    }

    &:hover {
      color: #c9c9c9;
    }

    &.changing {
      animation: pulse 0.5s infinite alternate;
    }
  }

  & > ul {
    width: 80px;
    list-style-type: none;
    position: absolute;
    bottom: 25px;
    border: 1px solid black;
    display: none;
    background-color: #e6e6e6;
  }

  li {
    font-size: 10px;

    &[data-title] {
      background-color: #c3c2c2;
      padding: 5px;
    }

    a {
      color: #444;
      padding: 2px 10px;
      display: block;
      text-decoration: none;

      &:hover {
        background-color: #555;
        color: white;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    &.current a {
      color: #f00;
      background-color: #555;
    }

  }
}

@keyframes pulse {
  0% {
    color: #fff;
  }

  50% {
    color: #ff0101
  }

  100% {
    color: #B80000;
  }
}

::cue {
  visibility: hidden !important;
  font-size: 0 !important;
}

.ios-fullscreen::cue {
  visibility: visible !important;
  font-size: 1em !important;
}
