.container-with-poster-clickable .skip_time_plugin[data-skip-time] {
  height: 0;
}

.skip_time_plugin[data-skip-time] {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  z-index: 9998;
  background-color: transparent;
  font-family: Roboto, "Open Sans", Arial, sans-serif;

  .skip-container[data-skip-container] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .skip-item {
      width: 33.3%;
      height: 100%;
    }
  }
}
