name: Publish on CDN

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read

jobs:
  publish:
    runs-on:
      - ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ci
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.2"
          cache-dependency-path: ci/requirements.txt
      - name: Install dependencies
        run: |
          python -m pip install -r ci/requirements.txt
      - name: Download dist archive
        run: |
          VERSION=${VERSION#v}
          curl \
            -LSfs \
            -o package.tgz \
            https://registry.npmjs.org/@gcorevideo/player/-/player-$VERSION.tgz
          tar xf package.tgz
      - name: Upload to the bucket
        run: |
          LIBDIR=`pwd`/ci
          VERSION=${VERSION#v}
          cd package/dist
          python $LIBDIR/sri.py \
            -a sha256 \
            *.* > ./SHA256.txt
          python $LIBDIR/upload-s3.py \
            --endpoint https://$S3_HOSTNAME \
            --bucket player \
            . \
            $VERSION
        env:
          S3_HOSTNAME: ${{ secrets.S3_HOSTNAME }}
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
    env:
      VERSION: ${{ github.ref_name }}
